
ion-popover-view
  ion-header-bar.bar.bar-header.bar-stable
    h2.title Choose Priority
  ion-content
    .row
      .col: span.badge.fkls-priority.fkls-pri-A(ng-click='applyPriority("A")') &nbsp;
      .col: span.badge.fkls-priority.fkls-pri-B(ng-click='applyPriority("B")') &nbsp;
      .col: span.badge.fkls-priority.fkls-pri-C(ng-click='applyPriority("C")') &nbsp;
    .row                                       
      .col: span.badge.fkls-priority.fkls-pri-I(ng-click='applyPriority("I")') &nbsp;
      .col: span.badge.fkls-priority.fkls-pri-J(ng-click='applyPriority("J")') &nbsp;
      .col: span.badge.fkls-priority.fkls-pri-K(ng-click='applyPriority("K")') &nbsp;
    .row                                                       
      .col: span.badge.fkls-priority.fkls-pri-X(ng-click='applyPriority("X")') &nbsp;
      .col: span.badge.fkls-priority.fkls-pri-Y(ng-click='applyPriority("Y")') &nbsp;
      .col: span.badge.fkls-priority.fkls-pri-Z(ng-click='applyPriority("Z")') &nbsp;
