
.fkls-context
  text-align right

// Priority badges
.fkls-priority
  cursor default

  &.fkls-pri-A
    background #800
  &.fkls-pri-B
    background #f00
  &.fkls-pri-C
    background #f88
  &.fkls-pri-I
    background #008
  &.fkls-pri-J
    background #00f
  &.fkls-pri-K
    background #88f
  &.fkls-pri-X
    background #080
  &.fkls-pri-Y
    background #0f0
  &.fkls-pri-Z
    background #8f8


#newTask
  text-align center
