.hstretch
  width 100%
.dark
  background black
  color #888
.dark.item
  border-color #444

.item.fkls-item
  padding 8px

.fkls-task .badge
  top 8px

.fkls-task label
  margin-left 8px

.fkls-context
  // display inline
  // float right
  // text-align right
  margin-right 32px

.fkls-actions
  display none

// Priority badges
.fkls-priority
  cursor default

  &.fkls-pri-
    background #888
  &.fkls-pri-A
    background hsl(0,   100%, 20%)
  &.fkls-pri-B
    background hsl(0,   100%, 50%)
  &.fkls-pri-C
    background hsl(0,   100%, 80%)
  &.fkls-pri-I
    background hsl(240, 100%, 20%)
  &.fkls-pri-J
    background hsl(240, 100%, 50%)
  &.fkls-pri-K
    background hsl(240, 100%, 80%)
  &.fkls-pri-X
    background hsl(120, 100%, 20%)
  &.fkls-pri-Y
    background hsl(120, 100%, 50%)
  &.fkls-pri-Z
    background hsl(120, 100%, 80%)

#newTask
  display inline
  width 90%
  // float right
#addTask
  width 10%
  // float right
